@import url("./fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-image: linear-gradient(120deg, #344139 0%, #7ca0b2 100%); */
    background-image: url("./assets/floss.png");

    font-family: "DM Sans", sans-serif;
    /* font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0.3px;
    padding: 24px;
    border-bottom: 1px solid rgba(255,255,255,0.1); */
}

.navitem {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(rgb(124, 36, 206), rgb(124, 36, 206));
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
}

.navitem:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
}

